@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

.containerLogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 3rem;
    width: 20rem;
    margin-block: 2rem;
}

.tituloLogin {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #666666;
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 24px;
    background-color: white;
    width: 35rem;
    height: 20rem;   
}

@media screen and (max-width: 500px) {
    .containerForm {
        width: 22rem;
        height: 20rem;
    }
}
