@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

.button-input, .button-header, .footerButton{
    text-align: center;
    padding: 12px 24px;
    background: #FFB600;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    border: none;
    
}

.button-input{
    margin-right: 75%;
}


@media screen and (max-width: 500px) {
    .button-input {
        width: 300px;
        height: 40px;
        margin-right: 0;
    } 
}