@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300;400;500&display=swap');


.sumContainer{
    display:flex;
}

.sumTitle{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.totalSumContainer{
    display: flex;
    padding: 16px;
    gap: 4px;
    width: 332px;
    height: 110px;
    background: #666666;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.totalSumBox{
display:flex;
    
}
.totalSum{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 8px;
    height: 29px;
    border: 1px solid #999999;
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
gap: 8px;
width: 146px;
height: 29px;
border: 1px solid #999999;
border-radius: 4px;
flex: none;
order: 1;
flex-grow: 1;
color: #FFFFFF;
}


.GlobalSumResult{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFB600;
flex: none;
order: 2;
flex-grow: 0;
}