@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300;400;500&display=swap');

.table {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 24px;
width: 688px;
height: 879px;
background: #FFFFFF;
box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.16);
border-radius: 4px;
}

.headerTable{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;
padding: 5px;
width: max-content;
height: 49px;
border-radius: 4px 0px 0px 4px;
border: 1px solid red;
}

thead {
    border: green;
}

.tableHeaderCell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
font-size: 14px;
color: #666666;
line-height: 17px;
width: 169px;
height: 49px;
}

.tableBodyCell {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;   
    color: #666666;
}

tbody {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 1028px;
height: 67px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
flex: none;
order: 9;
align-self: stretch;
flex-grow: 0;
}

.bodyTable {
color: white;
}

